*.iml
.gradle
/local.properties
.idea/
app/.idea/
.DS_Store
/build
/captures
.project
.classpath
.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.buildship.core.prefs
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
